<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Mob_Lob_But_Menu_Open_shine.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,1}</string>
                <key>spriteSize</key>
                <string>{172,218}</string>
                <key>spriteSourceSize</key>
                <string>{180,220}</string>
                <key>textureRect</key>
                <string>{{41,643},{172,218}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Mob_Lob_But_Menu_Receive.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,-1}</string>
                <key>spriteSize</key>
                <string>{96,118}</string>
                <key>spriteSourceSize</key>
                <string>{112,136}</string>
                <key>textureRect</key>
                <string>{{99,415},{96,118}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Mob_UpUI_Board_1280.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,22}</string>
                <key>spriteSize</key>
                <string>{640,48}</string>
                <key>spriteSourceSize</key>
                <string>{640,92}</string>
                <key>textureRect</key>
                <string>{{41,1},{640,48}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Mob_UpUI_But_Home.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{74,58}</string>
                <key>spriteSourceSize</key>
                <string>{112,136}</string>
                <key>textureRect</key>
                <string>{{41,863},{74,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Mob_UpUI_But_Menu.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-11,8}</string>
                <key>spriteSize</key>
                <string>{138,184}</string>
                <key>spriteSourceSize</key>
                <string>{180,220}</string>
                <key>textureRect</key>
                <string>{{91,229},{138,184}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Mob_UpUI_JPField.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-10,10}</string>
                <key>spriteSize</key>
                <string>{922,38}</string>
                <key>spriteSourceSize</key>
                <string>{1560,58}</string>
                <key>textureRect</key>
                <string>{{1,1},{922,38}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Mob_UpUI_MenuItems_Board_Lar.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{226,149}</string>
                <key>spriteSourceSize</key>
                <string>{230,157}</string>
                <key>textureRect</key>
                <string>{{91,1},{226,149}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Mob_UpUI_MenuItems_Line_Lar.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{210,6}</string>
                <key>spriteSourceSize</key>
                <string>{230,10}</string>
                <key>textureRect</key>
                <string>{{91,415},{210,6}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Mob_UpUI_MenuItems_SoundSwitch_Board.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,46}</string>
                <key>spriteSourceSize</key>
                <string>{80,48}</string>
                <key>textureRect</key>
                <string>{{99,535},{80,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Mob_UpUI_MenuItems_SoundSwitch_OffPoint.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{48,44}</string>
                <key>spriteSourceSize</key>
                <string>{52,48}</string>
                <key>textureRect</key>
                <string>{{117,863},{48,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Mob_UpUI_MenuItems_SoundSwitch_OnPoint.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{44,42}</string>
                <key>spriteSourceSize</key>
                <string>{52,48}</string>
                <key>textureRect</key>
                <string>{{99,583},{44,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>TopBar.png</string>
            <key>size</key>
            <string>{241,924}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c34d12c741e5f5a9815040f6552a0d35:379025a3e4a695dd55d0425574f8eb4e:fcf1de3631873334df093ccf8a2cd40d$</string>
            <key>textureFileName</key>
            <string>TopBar.png</string>
        </dict>
    </dict>
</plist>
