<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>BigWin.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{674,140}</string>
                <key>spriteSourceSize</key>
                <string>{1280,720}</string>
                <key>textureRect</key>
                <string>{{1324,521},{674,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>LightA.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{800,159}</string>
                <key>spriteSourceSize</key>
                <string>{800,159}</string>
                <key>textureRect</key>
                <string>{{0,262},{800,159}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>LightB.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{800,175}</string>
                <key>spriteSourceSize</key>
                <string>{800,175}</string>
                <key>textureRect</key>
                <string>{{974,0},{800,175}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MegaWin.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{794,154}</string>
                <key>spriteSourceSize</key>
                <string>{1280,720}</string>
                <key>textureRect</key>
                <string>{{800,365},{794,154}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MegaWin_Add_50%.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,7}</string>
                <key>spriteSize</key>
                <string>{388,64}</string>
                <key>spriteSourceSize</key>
                <string>{640,360}</string>
                <key>textureRect</key>
                <string>{{1324,661},{388,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MegaWin_Frame_Light_50%.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,7}</string>
                <key>spriteSize</key>
                <string>{396,72}</string>
                <key>spriteSourceSize</key>
                <string>{640,360}</string>
                <key>textureRect</key>
                <string>{{1594,449},{396,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Stars.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{670,180}</string>
                <key>spriteSourceSize</key>
                <string>{682,190}</string>
                <key>textureRect</key>
                <string>{{0,421},{670,180}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Stars_Glow.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{682,190}</string>
                <key>spriteSourceSize</key>
                <string>{682,190}</string>
                <key>textureRect</key>
                <string>{{974,175},{682,190}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>SuperWin.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{974,262}</string>
                <key>spriteSourceSize</key>
                <string>{1280,720}</string>
                <key>textureRect</key>
                <string>{{0,0},{974,262}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>SuperWin_Shine_Add_50%.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,16}</string>
                <key>spriteSize</key>
                <string>{584,130}</string>
                <key>spriteSourceSize</key>
                <string>{640,360}</string>
                <key>textureRect</key>
                <string>{{0,601},{584,130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Win_Frame_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-7}</string>
                <key>spriteSize</key>
                <string>{654,156}</string>
                <key>spriteSourceSize</key>
                <string>{714,220}</string>
                <key>textureRect</key>
                <string>{{670,519},{654,156}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Win_Frame_bg_l_50%.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{357,110}</string>
                <key>spriteSourceSize</key>
                <string>{357,110}</string>
                <key>textureRect</key>
                <string>{{1656,211},{357,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Win_LightSweep_mask_50%.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{127,211}</string>
                <key>spriteSourceSize</key>
                <string>{127,211}</string>
                <key>textureRect</key>
                <string>{{1774,0},{127,211}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Win_Star_Style_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,44}</string>
                <key>spriteSourceSize</key>
                <string>{138,140}</string>
                <key>textureRect</key>
                <string>{{1967,78},{42,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Win_Star_Style_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{78,78}</string>
                <key>spriteSourceSize</key>
                <string>{138,140}</string>
                <key>textureRect</key>
                <string>{{1901,0},{78,78}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Win_Star_Style_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{66,68}</string>
                <key>spriteSourceSize</key>
                <string>{138,140}</string>
                <key>textureRect</key>
                <string>{{1901,78},{66,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Win_Star_Style_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{122,128}</string>
                <key>spriteSourceSize</key>
                <string>{138,140}</string>
                <key>textureRect</key>
                <string>{{1656,321},{122,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Win_Star_Style_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{122,128}</string>
                <key>spriteSourceSize</key>
                <string>{138,140}</string>
                <key>textureRect</key>
                <string>{{1778,321},{122,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>CommonAward_01_Atlas.png</string>
            <key>size</key>
            <string>{2013,731}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:20f2ba466c89c95d0893dde376fb9a14:4ea6f814682d6564540dad85610fc14c:8c72de8088ec6c175734a177135697a4$</string>
            <key>textureFileName</key>
            <string>CommonAward_01_Atlas.png</string>
        </dict>
    </dict>
</plist>
