<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ACTIVATE_EN.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{152,26}</string>
                <key>spriteSourceSize</key>
                <string>{152,26}</string>
                <key>textureRect</key>
                <string>{{232,0},{152,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ACTIVATE_button_light.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0.5,-0.5}</string>
                <key>spriteSize</key>
                <string>{180,74}</string>
                <key>spriteSourceSize</key>
                <string>{179,73}</string>
                <key>textureRect</key>
                <string>{{440,0},{180,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ACTIVATE_button_normal.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0.5,-0.5}</string>
                <key>spriteSize</key>
                <string>{180,74}</string>
                <key>spriteSourceSize</key>
                <string>{179,73}</string>
                <key>textureRect</key>
                <string>{{622,0},{180,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ExtraBet_button_light.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-0.5}</string>
                <key>spriteSize</key>
                <string>{268,84}</string>
                <key>spriteSourceSize</key>
                <string>{268,83}</string>
                <key>textureRect</key>
                <string>{{270,82},{268,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ExtraBet_button_normal.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-0.5}</string>
                <key>spriteSize</key>
                <string>{268,84}</string>
                <key>spriteSourceSize</key>
                <string>{268,83}</string>
                <key>textureRect</key>
                <string>{{0,82},{268,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ExtraBet_logo_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0.5,0}</string>
                <key>spriteSize</key>
                <string>{274,100}</string>
                <key>spriteSourceSize</key>
                <string>{273,100}</string>
                <key>textureRect</key>
                <string>{{622,82},{274,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ExtraBet_panel.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-0.5}</string>
                <key>spriteSize</key>
                <string>{640,482}</string>
                <key>spriteSourceSize</key>
                <string>{640,481}</string>
                <key>textureRect</key>
                <string>{{0,184},{640,482}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>FEATURE_GAME_EN.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0.5,0}</string>
                <key>spriteSize</key>
                <string>{230,26}</string>
                <key>spriteSourceSize</key>
                <string>{229,26}</string>
                <key>textureRect</key>
                <string>{{0,0},{230,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>WZ_Effect_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,80}</string>
                <key>spriteSourceSize</key>
                <string>{80,80}</string>
                <key>textureRect</key>
                <string>{{804,0},{80,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>X.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0.5,-0.5}</string>
                <key>spriteSize</key>
                <string>{52,52}</string>
                <key>spriteSourceSize</key>
                <string>{51,51}</string>
                <key>textureRect</key>
                <string>{{386,0},{52,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hand.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0.5,0}</string>
                <key>spriteSize</key>
                <string>{80,90}</string>
                <key>spriteSourceSize</key>
                <string>{79,90}</string>
                <key>textureRect</key>
                <string>{{540,82},{80,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>ExtraBetPopup_Atlas.png</string>
            <key>size</key>
            <string>{896,666}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5909388ffd97a0836b4575d0d3b270e5:5c103ae03a0e3a875ed85e2ba00b84bf:d4201ed5bc30dcc0d8aa9b472187b801$</string>
            <key>textureFileName</key>
            <string>ExtraBetPopup_Atlas.png</string>
        </dict>
    </dict>
</plist>
