<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>JP_GRAND_Frame.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{447,209}</string>
                <key>spriteSourceSize</key>
                <string>{447,209}</string>
                <key>textureRect</key>
                <string>{{0,769},{447,209}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>JP_GRAND_Frame_Light.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{167,209}</string>
                <key>spriteSourceSize</key>
                <string>{167,209}</string>
                <key>textureRect</key>
                <string>{{681,0},{167,209}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>JP_GRAND_ribbon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{600,125}</string>
                <key>spriteSourceSize</key>
                <string>{600,125}</string>
                <key>textureRect</key>
                <string>{{0,264},{600,125}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>JP_MAJOR_Frame.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,0}</string>
                <key>spriteSize</key>
                <string>{437,187}</string>
                <key>spriteSourceSize</key>
                <string>{447,209}</string>
                <key>textureRect</key>
                <string>{{564,512},{437,187}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>JP_MAJOR_ribbon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{680,125}</string>
                <key>spriteSourceSize</key>
                <string>{680,125}</string>
                <key>textureRect</key>
                <string>{{0,0},{680,125}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>JP_MINOR_Frame.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,0}</string>
                <key>spriteSize</key>
                <string>{437,187}</string>
                <key>spriteSourceSize</key>
                <string>{447,209}</string>
                <key>textureRect</key>
                <string>{{501,700},{437,187}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>JPbutton_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{37,73}</string>
                <key>spriteSourceSize</key>
                <string>{37,73}</string>
                <key>textureRect</key>
                <string>{{601,264},{37,73}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>T_GRAND.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{563,132}</string>
                <key>spriteSourceSize</key>
                <string>{563,132}</string>
                <key>textureRect</key>
                <string>{{0,390},{563,132}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>T_GRAND_CHS.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{337,127}</string>
                <key>spriteSourceSize</key>
                <string>{339,127}</string>
                <key>textureRect</key>
                <string>{{651,210},{337,127}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>T_JACKPOT.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{650,137}</string>
                <key>spriteSourceSize</key>
                <string>{650,137}</string>
                <key>textureRect</key>
                <string>{{0,126},{650,137}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>T_MAJOR.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{504,133}</string>
                <key>spriteSourceSize</key>
                <string>{504,133}</string>
                <key>textureRect</key>
                <string>{{0,523},{504,133}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>T_MAJOR_CHS.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,0}</string>
                <key>spriteSize</key>
                <string>{335,127}</string>
                <key>spriteSourceSize</key>
                <string>{339,127}</string>
                <key>textureRect</key>
                <string>{{448,888},{335,127}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>T_MINOR.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{500,111}</string>
                <key>spriteSourceSize</key>
                <string>{500,111}</string>
                <key>textureRect</key>
                <string>{{0,657},{500,111}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>T_MINOR_CHS.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{337,127}</string>
                <key>spriteSourceSize</key>
                <string>{339,127}</string>
                <key>textureRect</key>
                <string>{{601,384},{337,127}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>T_jackpot_s.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{364,45}</string>
                <key>spriteSourceSize</key>
                <string>{364,45}</string>
                <key>textureRect</key>
                <string>{{601,338},{364,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>star.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,62}</string>
                <key>spriteSourceSize</key>
                <string>{64,64}</string>
                <key>textureRect</key>
                <string>{{939,384},{64,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>GUI_JPAward_Atlas.png</string>
            <key>size</key>
            <string>{1003,1015}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:fac9ce90eee1753882c8fa9c0be964a8:a6752964b52aa2060858c3812be22a93:07f5f7223f7a1d7821e0668c0c619dc0$</string>
            <key>textureFileName</key>
            <string>GUI_JPAward_Atlas.png</string>
        </dict>
    </dict>
</plist>
