<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Award.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0.5,0}</string>
                <key>spriteSize</key>
                <string>{56,28}</string>
                <key>spriteSourceSize</key>
                <string>{55,28}</string>
                <key>textureRect</key>
                <string>{{1174,0},{56,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ExtraBet_Tip.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1276,76}</string>
                <key>spriteSourceSize</key>
                <string>{1276,76}</string>
                <key>textureRect</key>
                <string>{{456,278},{1276,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ExtraBet_light.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-0.5}</string>
                <key>spriteSize</key>
                <string>{268,84}</string>
                <key>spriteSourceSize</key>
                <string>{268,83}</string>
                <key>textureRect</key>
                <string>{{358,360},{268,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ExtraBet_normal.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-0.5}</string>
                <key>spriteSize</key>
                <string>{268,84}</string>
                <key>spriteSourceSize</key>
                <string>{268,83}</string>
                <key>textureRect</key>
                <string>{{88,360},{268,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>First prize.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0.5,0}</string>
                <key>spriteSize</key>
                <string>{56,28}</string>
                <key>spriteSourceSize</key>
                <string>{55,28}</string>
                <key>textureRect</key>
                <string>{{1232,0},{56,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Participation.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0.5,0}</string>
                <key>spriteSize</key>
                <string>{56,28}</string>
                <key>spriteSourceSize</key>
                <string>{55,28}</string>
                <key>textureRect</key>
                <string>{{1290,0},{56,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>autoSpinSettingIcon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,36}</string>
                <key>spriteSourceSize</key>
                <string>{36,36}</string>
                <key>textureRect</key>
                <string>{{1730,0},{36,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>auto_light.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{114,66}</string>
                <key>spriteSourceSize</key>
                <string>{114,66}</string>
                <key>textureRect</key>
                <string>{{796,134},{114,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>auto_light_portrait.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-0.5}</string>
                <key>spriteSize</key>
                <string>{114,94}</string>
                <key>spriteSourceSize</key>
                <string>{114,93}</string>
                <key>textureRect</key>
                <string>{{1526,360},{114,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>auto_light_text.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-0.5}</string>
                <key>spriteSize</key>
                <string>{46,42}</string>
                <key>spriteSourceSize</key>
                <string>{46,41}</string>
                <key>textureRect</key>
                <string>{{1330,82},{46,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>auto_normal.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{114,66}</string>
                <key>spriteSourceSize</key>
                <string>{114,66}</string>
                <key>textureRect</key>
                <string>{{912,134},{114,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>auto_normal_portrait.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-0.5}</string>
                <key>spriteSize</key>
                <string>{114,94}</string>
                <key>spriteSourceSize</key>
                <string>{114,93}</string>
                <key>textureRect</key>
                <string>{{1172,360},{114,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>auto_normal_text.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-0.5}</string>
                <key>spriteSize</key>
                <string>{46,42}</string>
                <key>spriteSourceSize</key>
                <string>{46,41}</string>
                <key>textureRect</key>
                <string>{{1590,38},{46,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>betPlus_dark.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-0.5}</string>
                <key>spriteSize</key>
                <string>{42,56}</string>
                <key>spriteSourceSize</key>
                <string>{42,55}</string>
                <key>textureRect</key>
                <string>{{160,134},{42,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>betPlus_dark_portrait.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-0.5}</string>
                <key>spriteSize</key>
                <string>{98,40}</string>
                <key>spriteSourceSize</key>
                <string>{98,39}</string>
                <key>textureRect</key>
                <string>{{1294,38},{98,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>betPlus_light.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-0.5}</string>
                <key>spriteSize</key>
                <string>{42,56}</string>
                <key>spriteSourceSize</key>
                <string>{42,55}</string>
                <key>textureRect</key>
                <string>{{380,134},{42,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>betPlus_light_portrait.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-0.5}</string>
                <key>spriteSize</key>
                <string>{98,40}</string>
                <key>spriteSourceSize</key>
                <string>{98,39}</string>
                <key>textureRect</key>
                <string>{{1194,38},{98,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>betPlus_normal.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-0.5}</string>
                <key>spriteSize</key>
                <string>{42,56}</string>
                <key>spriteSourceSize</key>
                <string>{42,55}</string>
                <key>textureRect</key>
                <string>{{204,134},{42,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>betPlus_normal_portrait.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-0.5}</string>
                <key>spriteSize</key>
                <string>{98,40}</string>
                <key>spriteSourceSize</key>
                <string>{98,39}</string>
                <key>textureRect</key>
                <string>{{1394,38},{98,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>betReduce_dark.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-0.5}</string>
                <key>spriteSize</key>
                <string>{42,56}</string>
                <key>spriteSourceSize</key>
                <string>{42,55}</string>
                <key>textureRect</key>
                <string>{{336,134},{42,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>betReduce_dark_portrait.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-0.5}</string>
                <key>spriteSize</key>
                <string>{98,40}</string>
                <key>spriteSourceSize</key>
                <string>{98,39}</string>
                <key>textureRect</key>
                <string>{{100,38},{98,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>betReduce_light.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-0.5}</string>
                <key>spriteSize</key>
                <string>{42,56}</string>
                <key>spriteSourceSize</key>
                <string>{42,55}</string>
                <key>textureRect</key>
                <string>{{248,134},{42,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>betReduce_light_portrait.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-0.5}</string>
                <key>spriteSize</key>
                <string>{98,40}</string>
                <key>spriteSourceSize</key>
                <string>{98,39}</string>
                <key>textureRect</key>
                <string>{{0,38},{98,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>betReduce_normal.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-0.5}</string>
                <key>spriteSize</key>
                <string>{42,56}</string>
                <key>spriteSourceSize</key>
                <string>{42,55}</string>
                <key>textureRect</key>
                <string>{{292,134},{42,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>betReduce_normal_portrait.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-0.5}</string>
                <key>spriteSize</key>
                <string>{98,40}</string>
                <key>spriteSourceSize</key>
                <string>{98,39}</string>
                <key>textureRect</key>
                <string>{{200,38},{98,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bet_bg_extraBet_portrait.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0.5,0}</string>
                <key>spriteSize</key>
                <string>{236,94}</string>
                <key>spriteSourceSize</key>
                <string>{235,94}</string>
                <key>textureRect</key>
                <string>{{1288,360},{236,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bet_bg_portrait.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0.5,0}</string>
                <key>spriteSize</key>
                <string>{236,94}</string>
                <key>spriteSourceSize</key>
                <string>{235,94}</string>
                <key>textureRect</key>
                <string>{{934,360},{236,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bet_text.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0.5,0}</string>
                <key>spriteSize</key>
                <string>{44,22}</string>
                <key>spriteSourceSize</key>
                <string>{43,22}</string>
                <key>textureRect</key>
                <string>{{866,0},{44,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_down.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1280,68}</string>
                <key>spriteSourceSize</key>
                <string>{1280,68}</string>
                <key>textureRect</key>
                <string>{{0,202},{1280,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_down_portrait.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0.5,-0.5}</string>
                <key>spriteSize</key>
                <string>{26,196}</string>
                <key>spriteSourceSize</key>
                <string>{25,195}</string>
                <key>textureRect</key>
                <string>{{1232,456},{26,196}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_up.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1280,42}</string>
                <key>spriteSourceSize</key>
                <string>{1280,42}</string>
                <key>textureRect</key>
                <string>{{0,82},{1280,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_up_portrait.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{14,80}</string>
                <key>spriteSourceSize</key>
                <string>{14,80}</string>
                <key>textureRect</key>
                <string>{{1734,278},{14,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bottom.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0.5,-0.5}</string>
                <key>spriteSize</key>
                <string>{120,72}</string>
                <key>spriteSourceSize</key>
                <string>{119,71}</string>
                <key>textureRect</key>
                <string>{{1428,202},{120,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>box_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0.5,0}</string>
                <key>spriteSize</key>
                <string>{62,22}</string>
                <key>spriteSourceSize</key>
                <string>{61,22}</string>
                <key>textureRect</key>
                <string>{{802,0},{62,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>box_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0.5,0}</string>
                <key>spriteSize</key>
                <string>{72,32}</string>
                <key>spriteSourceSize</key>
                <string>{71,32}</string>
                <key>textureRect</key>
                <string>{{1382,0},{72,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>button.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0.5,-0.5}</string>
                <key>spriteSize</key>
                <string>{178,64}</string>
                <key>spriteSourceSize</key>
                <string>{177,63}</string>
                <key>textureRect</key>
                <string>{{424,134},{178,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>control_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,50}</string>
                <key>spriteSourceSize</key>
                <string>{50,50}</string>
                <key>textureRect</key>
                <string>{{1778,82},{50,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>control_off.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{78,54}</string>
                <key>spriteSourceSize</key>
                <string>{78,54}</string>
                <key>textureRect</key>
                <string>{{0,134},{78,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>control_on.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{78,54}</string>
                <key>spriteSourceSize</key>
                <string>{78,54}</string>
                <key>textureRect</key>
                <string>{{80,134},{78,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>grand.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0.5,0}</string>
                <key>spriteSize</key>
                <string>{90,28}</string>
                <key>spriteSourceSize</key>
                <string>{89,28}</string>
                <key>textureRect</key>
                <string>{{1082,0},{90,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>grand_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-0.5}</string>
                <key>spriteSize</key>
                <string>{356,40}</string>
                <key>spriteSourceSize</key>
                <string>{356,39}</string>
                <key>textureRect</key>
                <string>{{568,38},{356,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>line bet.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0.5,0}</string>
                <key>spriteSize</key>
                <string>{236,66}</string>
                <key>spriteSourceSize</key>
                <string>{235,66}</string>
                <key>textureRect</key>
                <string>{{1344,134},{236,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>line.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-0.5}</string>
                <key>spriteSize</key>
                <string>{800,4}</string>
                <key>spriteSourceSize</key>
                <string>{800,3}</string>
                <key>textureRect</key>
                <string>{{0,0},{800,4}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>line_bet_extraBet.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0.5,0}</string>
                <key>spriteSize</key>
                <string>{236,66}</string>
                <key>spriteSourceSize</key>
                <string>{235,66}</string>
                <key>textureRect</key>
                <string>{{1582,134},{236,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>logo_bottom.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-0.5}</string>
                <key>spriteSize</key>
                <string>{78,92}</string>
                <key>spriteSourceSize</key>
                <string>{78,91}</string>
                <key>textureRect</key>
                <string>{{628,360},{78,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>major.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-0.5}</string>
                <key>spriteSize</key>
                <string>{62,22}</string>
                <key>spriteSourceSize</key>
                <string>{62,21}</string>
                <key>textureRect</key>
                <string>{{958,0},{62,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>major_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-0.5}</string>
                <key>spriteSize</key>
                <string>{266,40}</string>
                <key>spriteSourceSize</key>
                <string>{266,39}</string>
                <key>textureRect</key>
                <string>{{926,38},{266,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>maxBet_light.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{94,66}</string>
                <key>spriteSourceSize</key>
                <string>{94,66}</string>
                <key>textureRect</key>
                <string>{{604,134},{94,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>maxBet_light_text.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-0.5}</string>
                <key>spriteSize</key>
                <string>{46,42}</string>
                <key>spriteSourceSize</key>
                <string>{46,41}</string>
                <key>textureRect</key>
                <string>{{1638,38},{46,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>maxBet_normal.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{94,66}</string>
                <key>spriteSourceSize</key>
                <string>{94,66}</string>
                <key>textureRect</key>
                <string>{{700,134},{94,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>maxBet_normal_text.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-0.5}</string>
                <key>spriteSize</key>
                <string>{46,42}</string>
                <key>spriteSourceSize</key>
                <string>{46,41}</string>
                <key>textureRect</key>
                <string>{{1282,82},{46,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>minor.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-0.5}</string>
                <key>spriteSize</key>
                <string>{58,22}</string>
                <key>spriteSourceSize</key>
                <string>{58,21}</string>
                <key>textureRect</key>
                <string>{{1022,0},{58,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>minor_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-0.5}</string>
                <key>spriteSize</key>
                <string>{266,40}</string>
                <key>spriteSourceSize</key>
                <string>{266,39}</string>
                <key>textureRect</key>
                <string>{{300,38},{266,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>moneySymbol.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-0.5}</string>
                <key>spriteSize</key>
                <string>{32,30}</string>
                <key>spriteSourceSize</key>
                <string>{32,29}</string>
                <key>textureRect</key>
                <string>{{1348,0},{32,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>score bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0.5,-0.5}</string>
                <key>spriteSize</key>
                <string>{272,34}</string>
                <key>spriteSourceSize</key>
                <string>{271,33}</string>
                <key>textureRect</key>
                <string>{{1456,0},{272,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skip_normal.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{224,116}</string>
                <key>spriteSourceSize</key>
                <string>{224,116}</string>
                <key>textureRect</key>
                <string>{{678,456},{224,116}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skip_normal_portrait.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-0.5}</string>
                <key>spriteSize</key>
                <string>{224,94}</string>
                <key>spriteSourceSize</key>
                <string>{224,93}</string>
                <key>textureRect</key>
                <string>{{708,360},{224,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skip_normal_text.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0.5,-0.5}</string>
                <key>spriteSize</key>
                <string>{98,50}</string>
                <key>spriteSourceSize</key>
                <string>{97,49}</string>
                <key>textureRect</key>
                <string>{{1478,82},{98,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spin_normal.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{224,116}</string>
                <key>spriteSourceSize</key>
                <string>{224,116}</string>
                <key>textureRect</key>
                <string>{{904,456},{224,116}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spin_normal_portrait.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-0.5}</string>
                <key>spriteSize</key>
                <string>{224,94}</string>
                <key>spriteSourceSize</key>
                <string>{224,93}</string>
                <key>textureRect</key>
                <string>{{0,456},{224,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spin_normal_text.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0.5,-0.5}</string>
                <key>spriteSize</key>
                <string>{98,50}</string>
                <key>spriteSourceSize</key>
                <string>{97,49}</string>
                <key>textureRect</key>
                <string>{{1678,82},{98,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>start_normal_text.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0.5,-0.5}</string>
                <key>spriteSize</key>
                <string>{98,50}</string>
                <key>spriteSourceSize</key>
                <string>{97,49}</string>
                <key>textureRect</key>
                <string>{{1378,82},{98,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stop_normal.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{224,116}</string>
                <key>spriteSourceSize</key>
                <string>{224,116}</string>
                <key>textureRect</key>
                <string>{{452,456},{224,116}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stop_normal_portrait.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-0.5}</string>
                <key>spriteSize</key>
                <string>{224,94}</string>
                <key>spriteSourceSize</key>
                <string>{224,93}</string>
                <key>textureRect</key>
                <string>{{226,456},{224,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stop_normal_text.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0.5,-0.5}</string>
                <key>spriteSize</key>
                <string>{98,50}</string>
                <key>spriteSourceSize</key>
                <string>{97,49}</string>
                <key>textureRect</key>
                <string>{{1578,82},{98,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>system_Bag.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0.5,0}</string>
                <key>spriteSize</key>
                <string>{86,84}</string>
                <key>spriteSourceSize</key>
                <string>{85,84}</string>
                <key>textureRect</key>
                <string>{{0,360},{86,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>system_FullScreen.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{74,74}</string>
                <key>spriteSourceSize</key>
                <string>{74,74}</string>
                <key>textureRect</key>
                <string>{{1702,202},{74,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>system_FullScreenOff.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-0.5}</string>
                <key>spriteSize</key>
                <string>{74,74}</string>
                <key>spriteSourceSize</key>
                <string>{74,73}</string>
                <key>textureRect</key>
                <string>{{228,278},{74,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>system_back.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{74,74}</string>
                <key>spriteSourceSize</key>
                <string>{74,74}</string>
                <key>textureRect</key>
                <string>{{1550,202},{74,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>system_bar.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0.5,0}</string>
                <key>spriteSize</key>
                <string>{100,126}</string>
                <key>spriteSourceSize</key>
                <string>{99,126}</string>
                <key>textureRect</key>
                <string>{{1130,456},{100,126}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>system_history.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{74,74}</string>
                <key>spriteSourceSize</key>
                <string>{74,74}</string>
                <key>textureRect</key>
                <string>{{0,278},{74,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>system_home.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{74,74}</string>
                <key>spriteSourceSize</key>
                <string>{74,74}</string>
                <key>textureRect</key>
                <string>{{1626,202},{74,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>system_info.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{74,74}</string>
                <key>spriteSourceSize</key>
                <string>{74,74}</string>
                <key>textureRect</key>
                <string>{{380,278},{74,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>system_menu.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{74,74}</string>
                <key>spriteSourceSize</key>
                <string>{74,74}</string>
                <key>textureRect</key>
                <string>{{304,278},{74,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>system_sound.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{74,74}</string>
                <key>spriteSourceSize</key>
                <string>{74,74}</string>
                <key>textureRect</key>
                <string>{{152,278},{74,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>system_soundOff.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-0.5}</string>
                <key>spriteSize</key>
                <string>{74,74}</string>
                <key>spriteSourceSize</key>
                <string>{74,73}</string>
                <key>textureRect</key>
                <string>{{76,278},{74,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>turbo_light_text.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-0.5}</string>
                <key>spriteSize</key>
                <string>{46,42}</string>
                <key>spriteSourceSize</key>
                <string>{46,41}</string>
                <key>textureRect</key>
                <string>{{1542,38},{46,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>turbo_normal_text.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-0.5}</string>
                <key>spriteSize</key>
                <string>{46,42}</string>
                <key>spriteSourceSize</key>
                <string>{46,41}</string>
                <key>textureRect</key>
                <string>{{1494,38},{46,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>win.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0.5,0}</string>
                <key>spriteSize</key>
                <string>{314,66}</string>
                <key>spriteSourceSize</key>
                <string>{313,66}</string>
                <key>textureRect</key>
                <string>{{1028,134},{314,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>win_bg_portrait.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-0.5}</string>
                <key>spriteSize</key>
                <string>{144,72}</string>
                <key>spriteSourceSize</key>
                <string>{144,71}</string>
                <key>textureRect</key>
                <string>{{1282,202},{144,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>win_text.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,22}</string>
                <key>spriteSourceSize</key>
                <string>{44,22}</string>
                <key>textureRect</key>
                <string>{{912,0},{44,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>H5_CommonUI02_Atlas.png</string>
            <key>size</key>
            <string>{1828,652}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:09a18ec8c2e828ccf9d129c610abc869:5a88cb8f3adfc51018118baac8267e0b:6df0ab7549bb6a5766e57f53214b8fac$</string>
            <key>textureFileName</key>
            <string>H5_CommonUI02_Atlas.png</string>
        </dict>
    </dict>
</plist>
