<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>BG_BLACK.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{8,6}</string>
                <key>spriteSourceSize</key>
                <string>{8,6}</string>
                <key>textureRect</key>
                <string>{{0,0},{8,6}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Start_declaration_CHS.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0.5,0}</string>
                <key>spriteSize</key>
                <string>{658,34}</string>
                <key>spriteSourceSize</key>
                <string>{657,34}</string>
                <key>textureRect</key>
                <string>{{0,158},{658,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Start_declaration_EN.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0.5,0}</string>
                <key>spriteSize</key>
                <string>{658,34}</string>
                <key>spriteSourceSize</key>
                <string>{657,34}</string>
                <key>textureRect</key>
                <string>{{0,122},{658,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bottom.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0.5,0}</string>
                <key>spriteSize</key>
                <string>{124,120}</string>
                <key>spriteSourceSize</key>
                <string>{123,120}</string>
                <key>textureRect</key>
                <string>{{146,0},{124,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>button.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0.5,-0.5}</string>
                <key>spriteSize</key>
                <string>{148,44}</string>
                <key>spriteSourceSize</key>
                <string>{147,43}</string>
                <key>textureRect</key>
                <string>{{272,0},{148,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>information_bar.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,30}</string>
                <key>spriteSourceSize</key>
                <string>{70,30}</string>
                <key>textureRect</key>
                <string>{{74,0},{70,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tip_box.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0.5,0}</string>
                <key>spriteSize</key>
                <string>{62,38}</string>
                <key>spriteSourceSize</key>
                <string>{61,38}</string>
                <key>textureRect</key>
                <string>{{10,0},{62,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>H5_CommonUI01_Atlas.png</string>
            <key>size</key>
            <string>{658,192}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6f1b2ca21abd23a6d09b426556937557:c1992b9278db2090d49e07bb36b2221e:aac3a23de242b30c931aea5fe9c9149c$</string>
            <key>textureFileName</key>
            <string>H5_CommonUI01_Atlas.png</string>
        </dict>
    </dict>
</plist>
