<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>BGDark.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,50}</string>
                <key>spriteSourceSize</key>
                <string>{50,50}</string>
                <key>textureRect</key>
                <string>{{468,100},{50,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>BIG_WIN.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.506237,0.49115}</string>
                <key>spriteOffset</key>
                <string>{94,-1}</string>
                <key>spriteSize</key>
                <string>{481,113}</string>
                <key>spriteSourceSize</key>
                <string>{481,113}</string>
                <key>textureRect</key>
                <string>{{512,150},{481,113}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>BIG_WIN_frame.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{675,103}</string>
                <key>spriteSourceSize</key>
                <string>{675,103}</string>
                <key>textureRect</key>
                <string>{{0,801},{675,103}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MEGA_WIN01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.865651,0.5}</string>
                <key>spriteOffset</key>
                <string>{25,0}</string>
                <key>spriteSize</key>
                <string>{361,117}</string>
                <key>spriteSourceSize</key>
                <string>{361,117}</string>
                <key>textureRect</key>
                <string>{{378,904},{361,117}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MEGA_WIN01_glow.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{209,58}</string>
                <key>spriteSourceSize</key>
                <string>{209,58}</string>
                <key>textureRect</key>
                <string>{{750,403},{209,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MEGA_WIN02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{-0.201149,0.49115}</string>
                <key>spriteOffset</key>
                <string>{390,-1}</string>
                <key>spriteSize</key>
                <string>{261,113}</string>
                <key>spriteSourceSize</key>
                <string>{261,113}</string>
                <key>textureRect</key>
                <string>{{692,563},{261,113}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MEGA_WIN02_glow.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{25,-1}</string>
                <key>spriteSize</key>
                <string>{159,56}</string>
                <key>spriteSourceSize</key>
                <string>{159,56}</string>
                <key>textureRect</key>
                <string>{{750,461},{159,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MEGA_WIN_frame.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{692,121}</string>
                <key>spriteSourceSize</key>
                <string>{692,121}</string>
                <key>textureRect</key>
                <string>{{0,563},{692,121}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MEGA_WIN_frame_Eff00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.502174,0.507143}</string>
                <key>spriteOffset</key>
                <string>{3,-6}</string>
                <key>spriteSize</key>
                <string>{460,140}</string>
                <key>spriteSourceSize</key>
                <string>{460,140}</string>
                <key>textureRect</key>
                <string>{{0,291},{460,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MEGA_WIN_frame_Eff02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{347,61}</string>
                <key>spriteSourceSize</key>
                <string>{347,61}</string>
                <key>textureRect</key>
                <string>{{675,684},{347,61}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>SUPER_WIN.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{675,117}</string>
                <key>spriteSourceSize</key>
                <string>{675,117}</string>
                <key>textureRect</key>
                <string>{{0,684},{675,117}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>SUPER_WIN_effect.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{512,141}</string>
                <key>spriteSourceSize</key>
                <string>{512,141}</string>
                <key>textureRect</key>
                <string>{{0,150},{512,141}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>SUPER_WIN_frame.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{750,132}</string>
                <key>spriteSourceSize</key>
                <string>{750,132}</string>
                <key>textureRect</key>
                <string>{{0,431},{750,132}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>SUPER_WIN_frame_eff.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{508,100}</string>
                <key>spriteSourceSize</key>
                <string>{508,100}</string>
                <key>textureRect</key>
                <string>{{468,0},{508,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>WIN_Effect_025.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{468,150}</string>
                <key>spriteSourceSize</key>
                <string>{468,150}</string>
                <key>textureRect</key>
                <string>{{0,0},{468,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>YOU_WIN.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{501,112}</string>
                <key>spriteSourceSize</key>
                <string>{501,112}</string>
                <key>textureRect</key>
                <string>{{460,291},{501,112}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>light.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.502646,0.5}</string>
                <key>spriteOffset</key>
                <string>{2,0}</string>
                <key>spriteSize</key>
                <string>{378,113}</string>
                <key>spriteSourceSize</key>
                <string>{378,113}</string>
                <key>textureRect</key>
                <string>{{0,904},{378,113}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>H5_CommonWin_Atlas.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1d6e321ccc62cf752e0592c74dfa1ec0:e02708afc2185e43974498026a2ab23f:8a137b08edb53a5b54039fba2f2f3e79$</string>
            <key>textureFileName</key>
            <string>H5_CommonWin_Atlas.png</string>
        </dict>
    </dict>
</plist>
