<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>PassCloud_A.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{396,232}</string>
                <key>spriteSourceSize</key>
                <string>{400,232}</string>
                <key>textureRect</key>
                <string>{{1,251},{396,232}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>PassCloud_As.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-1}</string>
                <key>spriteSize</key>
                <string>{175,102}</string>
                <key>spriteSourceSize</key>
                <string>{345,200}</string>
                <key>textureRect</key>
                <string>{{401,1},{175,102}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>PassCloud_B.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{398,248}</string>
                <key>spriteSourceSize</key>
                <string>{400,250}</string>
                <key>textureRect</key>
                <string>{{1,1},{398,248}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>PassCloud_Bs.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{160,99}</string>
                <key>spriteSourceSize</key>
                <string>{314,197}</string>
                <key>textureRect</key>
                <string>{{401,178},{160,99}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>H5_Transition_Chn_Atlas.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:590776f19fb2430ce1b785db26bc2b69:10aa17b7217f656dcf0aea78a1d24b7a:5e431fce52e3d6dbbecef95d9bdcef77$</string>
            <key>textureFileName</key>
            <string>H5_Transition_Chn_Atlas.png</string>
        </dict>
    </dict>
</plist>
