<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>phone.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0.5,0}</string>
                <key>spriteSize</key>
                <string>{344,196}</string>
                <key>spriteSourceSize</key>
                <string>{343,196}</string>
                <key>textureRect</key>
                <string>{{0,0},{344,196}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>title_cht.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0.5,-0.5}</string>
                <key>spriteSize</key>
                <string>{630,76}</string>
                <key>spriteSourceSize</key>
                <string>{629,75}</string>
                <key>textureRect</key>
                <string>{{345,0},{630,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>title_eng.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0.5,0}</string>
                <key>spriteSize</key>
                <string>{778,36}</string>
                <key>spriteSourceSize</key>
                <string>{777,36}</string>
                <key>textureRect</key>
                <string>{{0,197},{778,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>MobileHint.png</string>
            <key>size</key>
            <string>{975,233}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:24b93b78d34fc98de915049c031cd7ad:d6f8e6a56b0519130cfddbc95f500b7b:92d609dc3e37e3a5819d2471e3885c18$</string>
            <key>textureFileName</key>
            <string>MobileHint.png</string>
        </dict>
    </dict>
</plist>
