<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>But_No_Nor.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{2,1}</string>
                <key>spriteSize</key>
                <string>{208,94}</string>
                <key>spriteSourceSize</key>
                <string>{320,96}</string>
                <key>textureRect</key>
                <string>{{268,305},{208,94}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>But_Yes_Nor.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{2,1}</string>
                <key>spriteSize</key>
                <string>{208,94}</string>
                <key>spriteSourceSize</key>
                <string>{320,96}</string>
                <key>textureRect</key>
                <string>{{278,513},{208,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Mob_ButB_Board_nor.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{-2,6}</string>
                <key>spriteSize</key>
                <string>{305,90}</string>
                <key>spriteSourceSize</key>
                <string>{337,104}</string>
                <key>textureRect</key>
                <string>{{310,0},{305,90}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Mob_ButB_Board_nor_.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{-2,6}</string>
                <key>spriteSize</key>
                <string>{305,90}</string>
                <key>spriteSourceSize</key>
                <string>{337,104}</string>
                <key>textureRect</key>
                <string>{{0,305},{305,90}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Mob_But_Close.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{58,58}</string>
                <key>spriteSourceSize</key>
                <string>{64,64}</string>
                <key>textureRect</key>
                <string>{{362,418},{58,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Mob_But_w_OK_nor.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{2,-1}</string>
                <key>spriteSize</key>
                <string>{81,42}</string>
                <key>spriteSourceSize</key>
                <string>{337,104}</string>
                <key>textureRect</key>
                <string>{{90,580},{81,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Mob_ConnectRing.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{109,110}</string>
                <key>spriteSourceSize</key>
                <string>{117,116}</string>
                <key>textureRect</key>
                <string>{{362,309},{109,110}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Mob_DownUI_Field_short.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{98,47}</string>
                <key>spriteSourceSize</key>
                <string>{108,53}</string>
                <key>textureRect</key>
                <string>{{180,578},{98,47}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Mob_SignIn_Board.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{95,310}</string>
                <key>spriteSourceSize</key>
                <string>{101,314}</string>
                <key>textureRect</key>
                <string>{{0,0},{95,310}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Mob_SignIn_But_Confirm.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{-2,6}</string>
                <key>spriteSize</key>
                <string>{305,90}</string>
                <key>spriteSourceSize</key>
                <string>{337,104}</string>
                <key>textureRect</key>
                <string>{{0,95},{305,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Mob_SignIn_But_Go.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{-2,6}</string>
                <key>spriteSize</key>
                <string>{305,90}</string>
                <key>spriteSourceSize</key>
                <string>{337,104}</string>
                <key>textureRect</key>
                <string>{{0,185},{305,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Mob_SignIn_But_More.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{-1,5}</string>
                <key>spriteSize</key>
                <string>{303,88}</string>
                <key>spriteSourceSize</key>
                <string>{337,104}</string>
                <key>textureRect</key>
                <string>{{180,275},{303,88}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Mob_SignIn_But_OK.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{-4,3}</string>
                <key>spriteSize</key>
                <string>{309,84}</string>
                <key>spriteSourceSize</key>
                <string>{337,104}</string>
                <key>textureRect</key>
                <string>{{400,0},{309,84}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Mob_SignIn_But_Return.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{-2,6}</string>
                <key>spriteSize</key>
                <string>{305,90}</string>
                <key>spriteSourceSize</key>
                <string>{337,104}</string>
                <key>textureRect</key>
                <string>{{90,275},{305,90}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>CommonTexture.png</string>
            <key>size</key>
            <string>{486,625}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f8ceb9b650dc33ec30e4700bd2c6cf97:b4a00448e1f2a72d2b44cd443bb8380d:d135430501cfab73f58f26e602c50f6d$</string>
            <key>textureFileName</key>
            <string>CommonTexture.png</string>
        </dict>
    </dict>
</plist>
