<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>MegaWin.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{746,156}</string>
                <key>spriteSourceSize</key>
                <string>{1280,720}</string>
                <key>textureRect</key>
                <string>{{1,1},{746,156}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MegaWin_Add_50%.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,7}</string>
                <key>spriteSize</key>
                <string>{360,64}</string>
                <key>spriteSourceSize</key>
                <string>{640,360}</string>
                <key>textureRect</key>
                <string>{{371,159},{360,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MegaWin_Frame_Light_50%.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,7}</string>
                <key>spriteSize</key>
                <string>{368,72}</string>
                <key>spriteSourceSize</key>
                <string>{640,360}</string>
                <key>textureRect</key>
                <string>{{1,159},{368,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>BigWin.png</string>
            <key>size</key>
            <string>{748,232}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b52e945cc017a82f0af4fc6c860ccc00:fb5f72323e95d5ecf692fbfa0e909fc7:3efba8f4eb032db6a8fde7610075c153$</string>
            <key>textureFileName</key>
            <string>BigWin.png</string>
        </dict>
    </dict>
</plist>
