<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>SuperWin.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{-8,7}</string>
                <key>spriteSize</key>
                <string>{1000,274}</string>
                <key>spriteSourceSize</key>
                <string>{1280,720}</string>
                <key>textureRect</key>
                <string>{{0,0},{1000,274}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>SuperWin_Shine_Add_50%.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{-4,43}</string>
                <key>spriteSize</key>
                <string>{1272,280}</string>
                <key>spriteSourceSize</key>
                <string>{1280,720}</string>
                <key>textureRect</key>
                <string>{{0,274},{1272,280}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>MegaWin.png</string>
            <key>size</key>
            <string>{1272,554}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:77de3a406c7f2bd27cecd86bd918cb03:d019ce4593eb7845078fa84a16038a09:ea68df8bb6a3cda7fa992b3fd1b14229$</string>
            <key>textureFileName</key>
            <string>MegaWin.png</string>
        </dict>
    </dict>
</plist>
