<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>BGDark.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,50}</string>
                <key>spriteSourceSize</key>
                <string>{50,50}</string>
                <key>textureRect</key>
                <string>{{1176,0},{50,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>BIG_WIN_frame.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{675,103}</string>
                <key>spriteSourceSize</key>
                <string>{675,103}</string>
                <key>textureRect</key>
                <string>{{501,0},{675,103}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>YOU_WIN.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{501,112}</string>
                <key>spriteSourceSize</key>
                <string>{501,112}</string>
                <key>textureRect</key>
                <string>{{0,0},{501,112}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>YouWin.png</string>
            <key>size</key>
            <string>{1226,112}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f41a69990fa0d4c4bb7fd035f65460c7:a02fd65beeb5995f987d5174de0b3603:a8a998351ababaa087b7ffbba2f3e790$</string>
            <key>textureFileName</key>
            <string>YouWin.png</string>
        </dict>
    </dict>
</plist>
