<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>MobStra_But_Spin_BG.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,0}</string>
                <key>spriteSize</key>
                <string>{200,92}</string>
                <key>spriteSourceSize</key>
                <string>{200,92}</string>
                <key>textureRect</key>
                <string>{{3,3},{200,92}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>MobStra_But_Spin_w_auto.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,-2}</string>
                <key>spriteSize</key>
                <string>{138,47}</string>
                <key>spriteSourceSize</key>
                <string>{138,47}</string>
                <key>textureRect</key>
                <string>{{219,197},{138,47}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MobStra_But_Spin_w_descri.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,0}</string>
                <key>spriteSize</key>
                <string>{162,22}</string>
                <key>spriteSourceSize</key>
                <string>{162,22}</string>
                <key>textureRect</key>
                <string>{{118,3},{162,22}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>MobStra_But_Spin_w_spin.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{9,-4}</string>
                <key>spriteSize</key>
                <string>{126,41}</string>
                <key>spriteSourceSize</key>
                <string>{126,41}</string>
                <key>textureRect</key>
                <string>{{1044,99},{126,41}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>MobStra_But_Spin_w_start.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-4}</string>
                <key>spriteSize</key>
                <string>{144,45}</string>
                <key>spriteSourceSize</key>
                <string>{144,45}</string>
                <key>textureRect</key>
                <string>{{734,99},{144,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MobStra_But_Spin_w_stop.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,-3}</string>
                <key>spriteSize</key>
                <string>{134,41}</string>
                <key>spriteSourceSize</key>
                <string>{134,41}</string>
                <key>textureRect</key>
                <string>{{3,207},{134,41}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MobStra_But_Spin_w_take.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{8,-2}</string>
                <key>spriteSize</key>
                <string>{128,47}</string>
                <key>spriteSourceSize</key>
                <string>{128,47}</string>
                <key>textureRect</key>
                <string>{{602,99},{128,47}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MobStra_DownUI_Board.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{360,156}</string>
                <key>spriteSourceSize</key>
                <string>{360,156}</string>
                <key>textureRect</key>
                <string>{{144,3},{360,156}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MobStra_DownUI_Field.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,-2}</string>
                <key>spriteSize</key>
                <string>{94,54}</string>
                <key>spriteSourceSize</key>
                <string>{94,54}</string>
                <key>textureRect</key>
                <string>{{546,155},{94,54}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>MobStra_Message_Board_scale25.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{180,15}</string>
                <key>spriteSourceSize</key>
                <string>{180,15}</string>
                <key>textureRect</key>
                <string>{{99,3},{180,15}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>MobStra_UpUI_Board.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{360,100}</string>
                <key>spriteSourceSize</key>
                <string>{360,100}</string>
                <key>textureRect</key>
                <string>{{604,150},{360,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MobStra_UpUI_Fields.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{44,0}</string>
                <key>spriteSize</key>
                <string>{616,92}</string>
                <key>spriteSourceSize</key>
                <string>{616,92}</string>
                <key>textureRect</key>
                <string>{{604,3},{616,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Mob_DownUI_But_GreenPlus.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{66,62}</string>
                <key>spriteSourceSize</key>
                <string>{66,62}</string>
                <key>textureRect</key>
                <string>{{1089,99},{66,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Mob_DownUI_But_GreenPlus_light.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{66,62}</string>
                <key>spriteSourceSize</key>
                <string>{66,62}</string>
                <key>textureRect</key>
                <string>{{1159,99},{66,62}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Mob_DownUI_But_Ringlight.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,37}</string>
                <key>spriteSourceSize</key>
                <string>{80,37}</string>
                <key>textureRect</key>
                <string>{{505,163},{80,37}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Mob_DownUI_But_VioletPlus.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{66,62}</string>
                <key>spriteSourceSize</key>
                <string>{66,62}</string>
                <key>textureRect</key>
                <string>{{1089,165},{66,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Mob_DownUI_But_VioletSub.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{66,62}</string>
                <key>spriteSourceSize</key>
                <string>{66,62}</string>
                <key>textureRect</key>
                <string>{{1159,169},{66,62}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Mob_DownUI_Hand.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{74,52}</string>
                <key>spriteSourceSize</key>
                <string>{74,52}</string>
                <key>textureRect</key>
                <string>{{141,197},{74,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>SStrai_GaUI_up_board_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,-12}</string>
                <key>spriteSize</key>
                <string>{80,140}</string>
                <key>spriteSourceSize</key>
                <string>{80,140}</string>
                <key>textureRect</key>
                <string>{{361,163},{80,140}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>SStrai_GaUI_up_line.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{21,-116}</string>
                <key>spriteSize</key>
                <string>{156,6}</string>
                <key>spriteSourceSize</key>
                <string>{156,6}</string>
                <key>textureRect</key>
                <string>{{99,187},{156,6}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>SStrai_GaUI_w_JPEs.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{20,0}</string>
                <key>spriteSize</key>
                <string>{68,24}</string>
                <key>spriteSourceSize</key>
                <string>{68,24}</string>
                <key>textureRect</key>
                <string>{{259,163},{68,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>SStrai_GaUI_w_PrizeRev.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{12,-2}</string>
                <key>spriteSize</key>
                <string>{88,44}</string>
                <key>spriteSourceSize</key>
                <string>{88,44}</string>
                <key>textureRect</key>
                <string>{{882,99},{88,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Timer_Board.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{148,90}</string>
                <key>spriteSourceSize</key>
                <string>{148,90}</string>
                <key>textureRect</key>
                <string>{{508,3},{148,90}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Timer_grid_All.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{10,-10}</string>
                <key>spriteSize</key>
                <string>{128,66}</string>
                <key>spriteSourceSize</key>
                <string>{128,66}</string>
                <key>textureRect</key>
                <string>{{974,99},{128,66}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>CommonRootVertical.png</string>
            <key>size</key>
            <string>{1224,253}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8b92c5c71ea06be7edc50fa213ab9fc0:96fde29d0150d35848152eb992f14364:4281ebd1789a3531d94f202131c8ef32$</string>
            <key>textureFileName</key>
            <string>CommonRootVertical.png</string>
        </dict>
    </dict>
</plist>
