<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>But_Auto_Light_p2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{130,114}</string>
                <key>spriteSourceSize</key>
                <string>{160,160}</string>
                <key>textureRect</key>
                <string>{{1,1203},{130,114}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>But_Auto_Light_whiteshape.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,200}</string>
                <key>spriteSourceSize</key>
                <string>{100,200}</string>
                <key>textureRect</key>
                <string>{{204,243},{50,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Mob_DownUI_Board_1280.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{640,141}</string>
                <key>spriteSourceSize</key>
                <string>{640,143}</string>
                <key>textureRect</key>
                <string>{{1,1},{640,141}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Mob_DownUI_But_Auto_light.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-1}</string>
                <key>spriteSize</key>
                <string>{112,110}</string>
                <key>spriteSourceSize</key>
                <string>{160,160}</string>
                <key>textureRect</key>
                <string>{{144,597},{112,110}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Mob_DownUI_But_Auto_nor.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-1}</string>
                <key>spriteSize</key>
                <string>{110,108}</string>
                <key>spriteSourceSize</key>
                <string>{116,116}</string>
                <key>textureRect</key>
                <string>{{142,711},{110,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Mob_DownUI_But_Auto_pass.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-1}</string>
                <key>spriteSize</key>
                <string>{110,108}</string>
                <key>spriteSourceSize</key>
                <string>{116,116}</string>
                <key>textureRect</key>
                <string>{{142,821},{110,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Mob_DownUI_But_Auto_press.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-1}</string>
                <key>spriteSize</key>
                <string>{110,108}</string>
                <key>spriteSourceSize</key>
                <string>{116,116}</string>
                <key>textureRect</key>
                <string>{{142,931},{110,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Mob_DownUI_But_GreenPlus.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{66,60}</string>
                <key>spriteSourceSize</key>
                <string>{66,62}</string>
                <key>textureRect</key>
                <string>{{142,1105},{66,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Mob_DownUI_But_GreenPlus_light.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{66,62}</string>
                <key>spriteSourceSize</key>
                <string>{66,62}</string>
                <key>textureRect</key>
                <string>{{142,1041},{66,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Mob_DownUI_But_RevealPlus.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{139,138}</string>
                <key>spriteSourceSize</key>
                <string>{145,140}</string>
                <key>textureRect</key>
                <string>{{1,643},{139,138}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Mob_DownUI_But_Ringlight.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,21}</string>
                <key>spriteSize</key>
                <string>{68,33}</string>
                <key>spriteSourceSize</key>
                <string>{80,75}</string>
                <key>textureRect</key>
                <string>{{218,1},{68,33}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Mob_DownUI_But_Start.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{139,138}</string>
                <key>spriteSourceSize</key>
                <string>{145,140}</string>
                <key>textureRect</key>
                <string>{{1,783},{139,138}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Mob_DownUI_But_Stop.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{139,138}</string>
                <key>spriteSourceSize</key>
                <string>{145,140}</string>
                <key>textureRect</key>
                <string>{{1,923},{139,138}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Mob_DownUI_But_Take.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{139,138}</string>
                <key>spriteSourceSize</key>
                <string>{145,140}</string>
                <key>textureRect</key>
                <string>{{1,1063},{139,138}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Mob_DownUI_But_VioletPlus.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{66,60}</string>
                <key>spriteSourceSize</key>
                <string>{66,62}</string>
                <key>textureRect</key>
                <string>{{142,1167},{66,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Mob_DownUI_But_VioletSub.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{66,60}</string>
                <key>spriteSourceSize</key>
                <string>{66,62}</string>
                <key>textureRect</key>
                <string>{{133,1229},{66,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Mob_DownUI_Field_short.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,49}</string>
                <key>spriteSourceSize</key>
                <string>{108,53}</string>
                <key>textureRect</key>
                <string>{{204,445},{100,49}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Mob_DownUI_Hand.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,50}</string>
                <key>spriteSourceSize</key>
                <string>{76,52}</string>
                <key>textureRect</key>
                <string>{{144,525},{70,50}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Mob_DownUI_TotalField.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{240,72}</string>
                <key>spriteSourceSize</key>
                <string>{244,82}</string>
                <key>textureRect</key>
                <string>{{144,1},{240,72}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Mob_Down_MessaBoard.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{280,58}</string>
                <key>spriteSourceSize</key>
                <string>{332,74}</string>
                <key>textureRect</key>
                <string>{{144,243},{280,58}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>slotDownBar.png</string>
            <key>size</key>
            <string>{255,1318}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a96758c957a619bd05ed28547ee1198e:2abb874d947d2c7bf773f5b38154b654:4b1ced073181509cb366b192e9c153d9$</string>
            <key>textureFileName</key>
            <string>slotDownBar.png</string>
        </dict>
    </dict>
</plist>
